* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(204, 204, 204);
}

.bx-down-arrow-circle {
  color: red;
  background-color: rgba(255, 0, 0, 0.158);
  border-radius: 50%;
}

.bx-up-arrow-circle {
  color: green;
  background-color: rgba(0, 128, 0, 0.192);
  border-radius: 50%;
}

html {
  overflow: hidden;
}

.section-one {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(204, 204, 204);
  font-family: "Mona Sans", sans-serif;
  padding-top: 3rem;
  overflow: hidden;
}
.section-one .card {
  width: 70%;
  height: auto;
  border-radius: 20px;
  background-color: white;
}
@media (max-width: 447px) {
  .section-one .card {
    width: 95%;
  }
}
.section-one .card .top-card {
  width: 100%;
  height: 45vh;
  background-color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.section-one .card .top-card .inner-top-card-1 {
  width: 100%;
  height: 17vh;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}
.section-one .card .top-card .inner-top-card-1 .inner-inner-top-card-1 {
  max-width: 11%;
  height: 13vh;
  border-radius: 50%;
}
@media (max-width: 1078px) {
  .section-one .card .top-card .inner-top-card-1 .inner-inner-top-card-1 {
    height: 11vh;
  }
}
@media (max-width: 889px) {
  .section-one .card .top-card .inner-top-card-1 .inner-inner-top-card-1 {
    height: 10vh;
  }
}
@media (max-width: 755px) {
  .section-one .card .top-card .inner-top-card-1 .inner-inner-top-card-1 {
    height: 8vh;
  }
}
@media (max-width: 600px) {
  .section-one .card .top-card .inner-top-card-1 .inner-inner-top-card-1 {
    max-width: 20%;
  }
}
.section-one .card .top-card .inner-top-card-1 .inner-inner-top-card-1 .logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.section-one .card .top-card .inner-top-card-1 .inner-inner-top-card-2 {
  width: 55%;
  height: 13vh;
  color: white;
  padding-left: 1rem;
}
.section-one .card .top-card .inner-top-card-1 .inner-inner-top-card-2 .hello {
  font-size: 170%;
  font-weight: 570;
}
@media (max-width: 664px) {
  .section-one .card .top-card .inner-top-card-1 .inner-inner-top-card-2 .hello {
    font-size: 150%;
  }
}
@media (max-width: 447px) {
  .section-one .card .top-card .inner-top-card-1 .inner-inner-top-card-2 .hello {
    font-size: 130%;
  }
}
.section-one .card .top-card .inner-top-card-1 .inner-inner-top-card-3 {
  width: 32%;
  height: 13vh;
  display: flex;
  align-items: flex-start;
  justify-content: right;
  font-size: 180%;
  color: white;
}
.section-one .card .top-card .inner-top-card-2 {
  width: 100%;
  height: 11vh;
  color: white;
  padding: 1rem;
  font-size: 140%;
  padding-top: 0;
}
.section-one .card .top-card .inner-top-card-2 .balance-number {
  font-size: 105%;
  font-weight: 550;
}
.section-one .card .top-card .inner-top-card-3 {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
@media (max-width: 819px) {
  .section-one .card .top-card .inner-top-card-3 {
    gap: 2rem;
  }
}
@media (max-width: 365px) {
  .section-one .card .top-card .inner-top-card-3 {
    gap: 1rem;
  }
}
.section-one .card .top-card .inner-top-card-3 .inner-3 {
  width: 25%;
  height: 11vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
}
@media (max-width: 819px) {
  .section-one .card .top-card .inner-top-card-3 .inner-3 {
    width: 30%;
  }
}
@media (max-width: 674px) {
  .section-one .card .top-card .inner-top-card-3 .inner-3 {
    width: 35%;
  }
}
@media (max-width: 365px) {
  .section-one .card .top-card .inner-top-card-3 .inner-3 {
    width: 40%;
  }
}
.section-one .card .top-card .inner-top-card-3 .inner-3 .income {
  font-size: 130%;
  font-weight: 700;
}
@media (max-width: 365px) {
  .section-one .card .top-card .inner-top-card-3 .inner-3 .income {
    font-size: 110%;
  }
}
.section-one .card .top-card .inner-top-card-3 .inner-3 .expense {
  font-size: 130%;
  font-weight: 700;
}
@media (max-width: 365px) {
  .section-one .card .top-card .inner-top-card-3 .inner-3 .expense {
    font-size: 110%;
  }
}
.section-one .card .top-card .inner-top-card-3 .inner-3 .income-number {
  font-size: 110%;
  font-weight: 520;
}
.section-one .card .top-card .inner-top-card-3 .inner-3 .expense-number {
  font-size: 110%;
  font-weight: 520;
}
.section-one .card .top-card .inner-top-card-3 .inner-3 .arrow {
  width: 25%;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 140%;
}
.section-one .card .top-card .inner-top-card-3 .inner-3 .arrow-1 {
  color: green;
  background-color: rgba(0, 128, 0, 0.192);
  border-radius: 50%;
}
.section-one .card .top-card .inner-top-card-3 .inner-3 .arrow-2 {
  color: red;
  background-color: rgba(255, 0, 0, 0.158);
  border-radius: 50%;
}
.section-one .card .top-card .inner-top-card-3 .inner-3 .bx-down-arrow-circle {
  color: red;
  background-color: rgba(255, 0, 0, 0.158);
  border-radius: 50%;
}
.section-one .card .top-card .inner-top-card-3 .inner-3 .bx-up-arrow-circle {
  color: green;
  background-color: rgba(0, 128, 0, 0.192);
  border-radius: 50%;
}
.section-one .card .top-card .inner-top-card-3 .inner-3 .words {
  width: 75%;
  height: 13vh;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}
.section-one .card .top-card .inner-top-card-3 .inner-3 .words .income {
  color: green;
}
.section-one .card .top-card .inner-top-card-3 .inner-3 .words .expense {
  color: red;
}
.section-one .card .recent {
  width: 100%;
  height: 5vh;
  font-size: 120%;
  font-weight: 580;
  padding: 0.5rem 2rem;
}
.section-one .card .middle-card {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.section-one .card .middle-card .bx-down-arrow-circle {
  color: red;
  background-color: rgba(255, 0, 0, 0.158);
  border-radius: 50%;
}
.section-one .card .middle-card .bx-up-arrow-circle {
  color: green;
  background-color: rgba(0, 128, 0, 0.192);
  border-radius: 50%;
}
.section-one .card .middle-card .recent-1 {
  width: 100%;
  height: 6.2vh;
  display: flex;
  gap: 0.5rem;
  border-radius: 10px;
  border: 2px solid rgb(248, 248, 248);
}
.section-one .card .middle-card .recent-1 .recent-1-left {
  width: 12%;
  height: 6.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 140%;
}
.section-one .card .middle-card .recent-1 .recent-1-left #arrow-1 {
  color: green;
  background-color: rgba(0, 128, 0, 0.192);
  border-radius: 50%;
}
.section-one .card .middle-card .recent-1 .recent-1-left #arrow-2 {
  color: red;
  background-color: rgba(255, 0, 0, 0.192);
  border-radius: 50%;
}
.section-one .card .middle-card .recent-1 .recent-2-left {
  width: 55%;
  height: 6.2vh;
}
.section-one .card .middle-card .recent-1 .recent-2-left .cloths {
  font-size: 120%;
  font-weight: 540;
}
.section-one .card .middle-card .recent-1 .recent-2-left .shopping {
  font-size: 80%;
}
.section-one .card .middle-card .recent-1 .recent-3-left {
  width: 20%;
  height: 6.2vh;
}
.section-one .card .middle-card .recent-1 .recent-3-left .fig-3 {
  font-size: 120%;
  font-weight: 540;
}
.section-one .card .middle-card .recent-1 .recent-3-left .date {
  font-size: 80%;
}
.section-one .card .bottom-card {
  width: 100%;
  height: 10vh;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  gap: 0.5rem;
  padding: 0.2rem;
}
.section-one .card .bottom-card .inner-bottom-card {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 140%;
  color: white;
}
.section-one .card .bottom-card #white-circle {
  border-radius: 50%;
  background-color: white;
  color: black;
  cursor: pointer;
  width: 8%;
}
@media (max-width: 1000px) {
  .section-one .card .bottom-card #white-circle {
    width: 11%;
  }
}
@media (max-width: 726px) {
  .section-one .card .bottom-card #white-circle {
    width: 14%;
  }
}
@media (max-width: 601px) {
  .section-one .card .bottom-card #white-circle {
    width: 16%;
  }
}
@media (max-width: 551px) {
  .section-one .card .bottom-card #white-circle {
    width: 17%;
  }
}
@media (max-width: 495px) {
  .section-one .card .bottom-card #white-circle {
    width: 19%;
  }
}
.section-one .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 4;
}
.section-one form {
  width: 55%;
  height: 70vh;
  background-color: white;
  position: fixed;
  top: 11%;
  right: 3%;
  z-index: 10;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
}
@media (max-width: 1115px) {
  .section-one form {
    right: 24%;
  }
}
@media (max-width: 1045px) {
  .section-one form {
    right: 20%;
  }
}
@media (max-width: 900px) {
  .section-one form {
    width: 65%;
    height: 80%;
  }
}
@media (max-width: 631px) {
  .section-one form {
    width: 100%;
    right: 0%;
    height: 95vh;
    top: 5%;
  }
}
.section-one form .transactions {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 140%;
  align-items: center;
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
}
.section-one form .transactions #cancel-icon {
  font-size: 170%;
}
.section-one form .transactions .close-btn {
  cursor: pointer;
}
.section-one form .middle-form {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 120%;
}
.section-one form .middle-form #title {
  width: 80%;
  padding: 0.5rem;
  font-size: 105%;
}
.section-one form .middle-form #amount {
  width: 75%;
  padding: 0.5rem;
  font-size: 105%;
  margin-bottom: 2rem;
}
@media (max-width: 418px) {
  .section-one form .middle-form #amount {
    width: 70%;
  }
}
.section-one form .input-radio {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  font-size: 110%;
  gap: 0.3rem;
}
.section-one form .btns {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.section-one form .btns .close-btn {
  height: 30%;
  padding: 1.3rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  width: 35%;
  font-size: 140%;
  color: rgb(85, 81, 81);
}
.section-one form .btns .submit-btn {
  width: 27%;
  height: 30%;
  background-color: green;
  padding: 1.3rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 35%;
  font-size: 140%;
  border: none;
}
.section-one .close-popup {
  display: none;
}
.section-one .hide-overlay {
  display: none;
}

.bx-down-arrow-circle {
  color: red;
  background-color: rgba(255, 0, 0, 0.158);
  border-radius: 50%;
}

.bx.bx-up-arrow-circle {
  color: green;
  background-color: rgba(0, 128, 0, 0.192);
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */